@model Presentation 
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

Date Time: @Model.PresentationDate<br />
Book Title: @Model.BookTitle<br />
Book Author: @Model.BookAuthor<br />
Genre: @Model.Genre<br />
